<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilos2.css' %}">
  <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js' %}"></script>
  

  <!--Script para validar los datos-->
  <script>

    $(function() 
    {
      $("#form").validate({
           rules: {
                  email: {
                      required: true,
                      email: true
                  },
                  password: "required",
                  password2: {
                      required: true,
                      equalTo: "#password"
                  }   
                  
              }, //rules
          messages: {
              email: {
                  required: 'Ingresa tu correo electrónico',
                  email: 'Formato de correo no válido'
              },
              nombre:{
                required: 'Ingresa tu nombre',
                minlength: 'Caracteres insuficientes'
              },
              password: {
                  required: 'Ingresa una contraseña',
                  minlength: 'Caracteres insuficientes (3)'
              },
              password2: {
                  required: 'Ingresa la contraseña',
                  equalTo: 'Las contraseñas ingresadas no coinciden',
                  minlength: 'Caracteres insuficientes (3)'

              }
          }//messages
      }); //$('#form').validate
  }); //function

</script>

<!--Script con los DOM-->
<script>
function CambiarMayusculas()
  {
      var a = document.getElementById('nombre');
      a.value = a.value.toUpperCase();
  }
function CambiarMayusculas2()
  {
      var a = document.getElementById('email');
      a.value = a.value.toUpperCase();
  }
function CambiaColor(a)
  {
      a.style.background = "rgb(255, 241, 225)";
  }

function MostrarFecha() 
  {   document.getElementById('demo').innerHTML = Date();
    
  }

</script>

  <title>Formulario de registro</title>
</head>


<!--Formulario-->
<body>
  {% load static %}
  <div class="container">
    <div class="header">

      <h2 onmouseover="style.color = 'red'" onmouseout="style.color= 'black'">Crea tu cuenta</h2>
    </div>
    <form id="form" class="form" action="{% url 'index' %}">
      <div class="form-control">
        <label for="username">Nombre<span class="obli">*</span></label>
        <input type="text" placeholder="Ingrese su nombre" id="nombre" name="nombre" minlength="3" 
        onchange="CambiarMayusculas()" onfocus="CambiaColor(this)" required>
       
        
      </div>
      <div class="form-control">
        <label for="username">Email<span class="obli">*</span></label>
        <input type="email" placeholder="ja.rodriguezc@duocuc.cl" id="email" name="email" 
        onchange="CambiarMayusculas2()" onfocus="CambiaColor(this)">
       
        
      </div>
      <div class="form-control">
        <label for="username">Contraseña<span class="obli">*</span></label>
        <input type="password" placeholder="Password" id="password" name="password" minlength="3" 
        onfocus="CambiaColor(this)">

        
      </div>
      <div class="form-control">
        <label for="username">Confirma tu contraseña<span class="obli">*</span></label>
        <input type="password" placeholder="Password" id="password2" name="password2" minlength="3" 
        onfocus="CambiaColor(this)">

      </div>
      <button type="button" class="btn btn-primary" onclick="MostrarFecha()">¿La fecha es?</button>
      <p id="demo"></p>


      <button>Registrate</button>
    </form>
  </div>


</body>
</html>